.App {
  text-align: center;
}

.logo {
  margin-top: -3.5em;
  margin-left: 5.0em;
  padding-top: -2.25em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.home-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(88, 88, 88);
}

.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 10%;
  padding-top: 2em;
  background: #4cc8ff;
  color: white;
}

.signin-card {
  position: fixed;
  width: 100%;
  height: 72%;
  left: 0%;
}

.signin-card p {
  position: fixed;
  text-align: center;
  height: 1%;
  width: 100%;
  font-size: 64px;
  font-weight: 100;
  color: #c0d8e2
}

.profile-card h3 {
  position: fixed;
  text-align: center;
  height: 1%;
  width: 100%;
  font-size: 36px;
  font-weight: 100;
  color: #c0d8e2
}

.profile-info span {
  position: absolute;
  left: 80vh;
  margin: 15vh;
  font-size: 24px;
  font-weight: 100;
  color: #b4b4b4;
}

.input-home {
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  top: 30vh;
  background: #ffffff;
}

.input-user .ant-input {
  position: absolute;
  left: 56vh;
  top: 30vh;
  width: 40%;
  border: none;
  border-bottom: 2px solid #4cc8ff;
  margin: 25px 25px 0;
  padding: 25px 10px;
  font-size: 1.5em;
}

.input-exp .ant-input {
  position: absolute;
  left: 56vh;
  top: 30vh;
  width: 40%;
  border: none;
  border-bottom: 2px solid #4cc8ff;
  margin: 25px 25px 0;
  padding: 25px 10px;
  font-size: 1.5em;
}

.input-bar {
  position: absolute;
  left: 55vh;
  top: 40vh;
  width: 62%;
  margin: 25px 25px 0;
  padding: 25px 10px;
}

.button-next {
  position: absolute;
  left: 170vh;
  top: 60vh;
  padding: 5px, 25px;
}

.button-back {
  position: absolute;
  left: 10vh;
  top: 60vh;
  padding: 5px, 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}