.mainpage {
  display: flex;
  justify-content: space-between;
  border-bottom-style: none;
}

.logo {
  margin-left: 2em;
  margin-top: 1.4em;
  font-size: 2.5em;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  margin-right: 8em;
  margin-top: 3em;
  font-size: 1.1em;
}

.header-nav>li>a, .logo>a {
  text-decoration: none;
}

/* 
  .logo>a:visited {
    color: rgb(106, 0, 206);
  }
  
  
  .header-nav>li>a:link {
    color: #474747;
  }
  
  .header-nav>li>a:hover {
    color: #ff0000;
  }
  
  .header-nav>li>a:active {
    color: #474747;
  }
  
  .header-nav>li>a:visited {
    color: blueviolet;
  } */

.about-head {
  position: fixed;
  left: 10px;
}

.body-back {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-back>h2 {
  position: absolute;
  top: 15%;
  left: 5%;
  color: #fc37aa;
  font-size: 2.5em;
  font-weight: bolder;
}

.body-back>p {
  position: absolute;
  top: 22%;
  left: 5%;
  color: #777777;
  font-size: 1.25em;
  text-align: justify
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.left-text {
  margin: 10px;
}

img {
  margin-left: 175px;
  margin-top: 80px;
  max-width: 75%;
  height: auto;
}

.projectImage {
  margin-left: 175px;
  margin-top: 100px;
  max-width: 75%;
  height: auto;
}

.projectImage2 {
  margin-left: 200px;
  margin-top: 100px;
  max-width: 75%;
  height: auto;
}

.projectImage3 {
  margin-left: 150px;
  margin-top: 100px;
  max-width: 75%;
  height: auto;
}